Repository alternatefutures/service-cloud-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx --yes yaml-lint

fix: Correct DSEQ extraction from Akash tx events
  .github/workflows/deploy-standalone.yml
Due: prettier --write, npx --yes yaml-lint

fix: Add explicit index.js extension for ESM dns import
  src/resolvers/domain.ts
Due: eslint --fix, prettier --write

fix: Switch API deployment to akashian provider
  .github/workflows/deploy-standalone.yml
Due: prettier --write, npx --yes yaml-lint

fix: Add .js extensions to all ESM relative imports
  INFISICAL_ON_AKASH_GUIDE.md
  SERVICE_AUTH_ON_AKASH_GUIDE.md
  deploy-infisical-final.yaml
  deploy-infisical-fixed.yaml
  deploy-testnet.yaml
  deployment-plan.json
  docs/EDGE-NETWORK.md
  docs/PINGORA-MIGRATION.md
  edge/README.md
  edge/caddy-akash-ip-lease.yaml
  edge/docker-compose.yml
  edge/haproxy-akash-ip-lease.yaml
  edge/haproxy.cfg
  edge/maps/domains.map
  edge/prometheus/prometheus.yml
  edge/scripts/deploy-edge-node.sh
  gateway/Caddyfile
  gateway/README.md
  gateway/acme-dns-akash.yaml
  gateway/gateway-akash.yaml
  gateway/gateway-dns01-akash.yaml
  gateway/gateway-ip-lease.yaml
  scripts/debug-dns.ts
  scripts/deploy-gateway.ts
  scripts/deploy-infisical-mcp.ts
  scripts/fix-dns-v2.ts
  scripts/fix-dns-v3.ts
  scripts/fix-dns.ts
  scripts/setup-akash-dns.ts
  scripts/test-live-api.ts
  service-auth-akash.yaml
  service-cloud-api-akash.yaml
  src/jobs/sslRenewal.ts
  src/resolvers/domain.ts
  src/services/dns/domainService.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

fix: Use SHA-based image tags to avoid provider caching
  .github/workflows/deploy-standalone.yml
Due: prettier --write, npx --yes yaml-lint

feat: Add database migrations to container startup
  Dockerfile
  docker-entrypoint.sh
Due: none

chore: Update Caddy backend URLs for API and Auth services
  edge/caddy-akash-ip-lease.yaml
Due: prettier --write, npx --yes yaml-lint

feat: Add DNS update workflow for static IP deployment
  .github/workflows/update-dns.yml
  scripts/update-dns-static-ip.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

feat: Add Infisical-based DNS update workflow
  .github/workflows/update-dns-infisical.yml
Due: prettier --write, npx --yes yaml-lint

fix: Use Cloudsmith install script for Infisical CLI
  .github/workflows/update-dns-infisical.yml
Due: prettier --write, npx --yes yaml-lint

fix: Simplify DNS workflow to use GitHub secrets directly
  .github/workflows/update-dns-infisical.yml
  scripts/update-dns-static-ip.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

fix: Use minimum 600s TTL for OpenProvider DNS records
  scripts/update-dns-static-ip.ts
Due: eslint --fix, prettier --write

feat: Add script to remove old DNS IP records
  scripts/remove-old-dns-ip.ts
Due: eslint --fix, prettier --write

feat: Add workflow to remove old DNS IP records
  .github/workflows/remove-old-dns-ip.yml
Due: prettier --write, npx --yes yaml-lint

feat: Update Caddy edge proxy configuration
  edge/caddy-akash-ip-lease.yaml
Due: prettier --write, npx --yes yaml-lint

Add environment variables documentation
  SECRETS.md
Due: prettier --write

ci: add PostgreSQL database backup workflow
  .github/workflows/backup-database.yml
Due: prettier --write, npx --yes yaml-lint

docs: add database backup documentation
  BACKUP.md
Due: prettier --write

chore: remove dead Pinata integration code
  .env.example
  SECRETS.md
  package.json
  pnpm-lock.yaml
  src/services/storage/factory.ts
  src/services/storage/ipfs.test.ts
  src/services/storage/ipfs.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

feat(ci): add safe deployment workflows with manual gates
  .github/workflows/deploy-akash.yml
  .github/workflows/update-manifest.yml
Due: prettier --write, npx --yes yaml-lint

docs: add 1Password storage section for Alternate Cloud PostgreSQL
  SECRETS.md
Due: prettier --write

docs: add auth PostgreSQL deployment to registry
  AKASH_DEPLOYMENTS.md
Due: prettier --write

docs: update stale comments in usage billing services
  src/services/billing/usageAggregator.ts
  src/services/billing/usageBuffer.ts
Due: eslint --fix, prettier --write

feat: add ProviderSelector service for Akash user deployments
  src/services/akash/index.ts
  src/services/akash/providerSelector.ts
Due: eslint --fix, prettier --write

docs: update EDGE-NETWORK.md with DePIN provider expansion
  docs/EDGE-NETWORK.md
Due: prettier --write

docs: add Internet Computer and Phala Network to edge providers
  docs/EDGE-NETWORK.md
Due: prettier --write

docs: add Golem Network to DePIN edge providers
  docs/EDGE-NETWORK.md
Due: prettier --write

feat: Add multi-tenant APM platform for customer observability
  docker/clickhouse/init.sql
  docker/otel-collector/otel-collector-config.yaml
  package.json
  prisma/schema.prisma
  src/index.ts
  src/resolvers/index.ts
  src/resolvers/observability.ts
  src/schema/typeDefs.ts
  src/services/observability/clickhouseClient.ts
  src/services/observability/index.ts
  src/services/observability/telemetryIngestionService.ts
  src/services/observability/webhookHandler.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

Update prisma and migration files
  prisma/migrations/20260119114130_remove_billing_add_org_to_project/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

get org id from PAT
  src/auth/middleware.ts
  src/resolvers/index.ts
  src/resolvers/types.ts
Due: eslint --fix, prettier --write

Update ports and migrations
  package.json
  prisma/migrations/20260122125023_add_usage_buffer_models/migration.sql
  prisma/schema.prisma
  src/auth/middleware.ts
  src/index.ts
Due: eslint --fix, prettier --write

fix build
  prisma/schema.prisma
  src/resolvers/billing.ts
  src/services/billing/invoiceService.ts
  src/services/billing/stripeService.ts
  src/services/billing/usageAggregator.ts
  src/services/billing/usageService.ts
  src/services/storage/ipfs.ts
Due: eslint --fix, prettier --write

Update scemas and add services
  prisma/_migration_add_org_and_services.sql
  prisma/schema.prisma
  scripts/backfill-service-registry.ts
  src/auth/middleware.ts
  src/index.ts
  src/resolvers/auth.ts
  src/resolvers/domain.ts
  src/resolvers/index.ts
  src/resolvers/mutation.test.ts
  src/resolvers/query.test.ts
  src/schema/typeDefs.ts
Due: eslint --fix, prettier --write

update middleware
  src/auth/middleware.ts
  src/resolvers/index.ts
Due: eslint --fix, prettier --write

update service-cloud-api types
  prisma/schema.prisma
  src/resolvers/index.ts
  src/schema/typeDefs.ts
Due: eslint --fix, prettier --write

Remove exposed keys
  deploy-infisical-final.yaml
  deployment-plan.json
  edge/caddy-akash-ip-lease.yaml
  edge/haproxy-akash-ip-lease.yaml
  package-lock.json
  service-auth-akash.yaml
  service-cloud-api-akash.yaml
Due: prettier --write, npx --yes yaml-lint

Update ci yml
  .github/workflows/ci.yml
Due: prettier --write, npx --yes yaml-lint

fix tests passes
  src/resolvers/billing.test.ts
  src/resolvers/domain.test.ts
  src/resolvers/query.test.ts
  src/resolvers/routeConfiguration.test.ts
  src/services/billing/invoiceService.test.ts
  src/services/billing/stripeService.test.ts
Due: eslint --fix, prettier --write

Fix build
  .github/workflows/branch-name-check.yml
Due: prettier --write, npx --yes yaml-lint

fix branch name build check error
  .github/workflows/branch-name-check.yml
Due: prettier --write, npx --yes yaml-lint

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,json,md})) or (any of: *.{yml,yaml})
  npx --yes yaml-lint: any of: *.{yml,yaml}
