Repository alternatefutures/service-cloud-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx --yes yaml-lint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,json,md}": ["prettier --write"],
  "*.{yml,yaml}": ["npx --yes yaml-lint", "prettier --write"]
}

fix build
  .github/workflows/claude-code-review.yml
Due: prettier --write, npx --yes yaml-lint

force build
  ADMIN_UI_GUIDE.md
Due: prettier --write

Force another build
  ADMIN_UI_GUIDE.md
Due: prettier --write

test push
  ADMIN_UI_GUIDE.md
Due: prettier --write

Add Akash deployment integration, provider blocklist, and security hardening
  prisma/migrations/20260205100000_add_akash_deployment/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  scripts/check-akash-deployment.ts
  scripts/check-akash-wallet.ts
  scripts/close-all-deployments.ts
  scripts/test-akash.ts
  src/index.ts
  src/resolvers/akash.ts
  src/resolvers/auth.ts
  src/resolvers/index.ts
  src/schema/typeDefs.ts
  src/services/akash/orchestrator.ts
  src/services/akash/providerSelector.ts
Due: eslint --fix, prettier --write

Remove billing dead code, add missing resolvers, fix stale provider refs
  src/resolvers/billing.ts
  src/resolvers/index.ts
  src/runtime/server.ts
  src/schema/typeDefs.ts
  src/services/akash/providerSelector.ts
Due: eslint --fix, prettier --write

Cleanup: update README to remove stale billing docs and fix project structure
  README.md
Due: prettier --write

fix(ci): downgrade actions/checkout@v5→v4 and actions/setup-node@v6→v4
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-akash.yml
  .github/workflows/deploy-infisical.yml
  src/services/akash/orchestrator.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

fix(test): remove orphaned billing.test.ts for deleted billing resolver
  src/resolvers/billing.test.ts
Due: eslint --fix, prettier --write

Add metrics resolver and types
  src/resolvers/index.ts
  src/schema/typeDefs.ts
Due: eslint --fix, prettier --write

Fix deploy
  .github/workflows/deploy-akash.yml
  .github/workflows/update-manifest.yml
Due: prettier --write, npx --yes yaml-lint

Fix deploy
  .github/workflows/deploy-akash.yml
Due: prettier --write, npx --yes yaml-lint

fix: block bad provider with broken hostname in deploy workflow
  .github/workflows/deploy-akash.yml
Due: prettier --write, npx --yes yaml-lint

Update AKASH_DEPLOYMENTS.md
  AKASH_DEPLOYMENTS.md
Due: prettier --write

expose YugabyteDB globally for standalone service-auth
  .github/workflows/update-manifest.yml
  deploy-mainnet.yaml
Due: prettier --write, npx --yes yaml-lint

update DSEQ/provider for new cloud-api deployment 25413939
  .github/workflows/update-manifest.yml
Due: prettier --write, npx --yes yaml-lint

make deployment update step non-fatal in update-manifest
  .github/workflows/update-manifest.yml
Due: prettier --write, npx --yes yaml-lint

cleanup: remove stale docs and test scripts, add SDL files
  .github/workflows/deploy-akash.yml
  .github/workflows/update-manifest.yml
  LOCAL_TEST_RESULTS.md
  SESSION_SUMMARY.md
  TESTNET_MONITORING.md
  TICKET_CORRECTION_SUMMARY.md
  deploy-api.yaml
  deploy-data.yaml
  deploy-yugabyte.yaml
  scripts/check-testnet-health.sh
  scripts/test-akash.ts
  scripts/test-live-api.ts
  test-chat-e2e.js
Due: eslint --fix, prettier --write, npx --yes yaml-lint

Update .env.example
  .env.example
Due: none

fix: harden deployment pipeline for Akash containers
  .env.example
  .github/workflows/deploy-akash.yml
  .github/workflows/docker-publish.yml
  .github/workflows/update-manifest.yml
  Dockerfile
  deploy-api.yaml
  docker-entrypoint.sh
  src/services/akash/orchestrator.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

feat: add template registry and deploy-from-template flow
  src/resolvers/index.ts
  src/resolvers/templates.ts
  src/schema/typeDefs.ts
  src/services/akash/orchestrator.ts
  src/templates/definitions/bun-ws-gameserver.ts
  src/templates/definitions/index.ts
  src/templates/definitions/node-ws-gameserver.ts
  src/templates/definitions/postgres.ts
  src/templates/definitions/redis.ts
  src/templates/index.ts
  src/templates/registry.ts
  src/templates/schema.ts
  src/templates/sdl.ts
Due: eslint --fix, prettier --write

Update deployment configs, templates, and CI workflows
  .github/workflows/deploy-akash.yml
  .github/workflows/update-manifest.yml
  AKASH_DEPLOYMENTS.md
  deploy-api.yaml
  deploy-data.yaml
  deploy-mainnet.yaml
  infra/postgres-standalone.yaml
  scripts/get-deployment-info.sh
  src/resolvers/templates.ts
  src/services/akash/providerSelector.ts
  src/templates/definitions/bun-ws-gameserver.ts
  src/templates/definitions/node-ws-gameserver.ts
  src/templates/definitions/postgres.ts
  src/templates/sdl.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

Updates on security, migrations, docs and deployer
  .github/workflows/deploy-akash.yml
  .github/workflows/update-manifest.yml
  AKASH_DEPLOYMENTS.md
  TESTNET_DEPLOYMENT.md
  deploy-mainnet.yaml
  deploy-testnet.yaml
  docker-entrypoint.sh
  prisma/_migration_add_org_and_services.sql
  prisma/migrations/20260119114130_remove_billing_add_org_to_project/migration.sql
  prisma/migrations/20260209210000_add_source_code_to_function/migration.sql
  scripts/get-deployment-info.sh
  src/services/akash/orchestrator.ts
  src/services/akash/providerSelector.ts
  src/templates/sdl.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

Update update-manifest.yml
  .github/workflows/update-manifest.yml
Due: prettier --write, npx --yes yaml-lint

Fix OTel collector config, re-enable in data services SDL
  .github/workflows/build-otel-collector.yml
  .github/workflows/update-manifest.yml
  deploy-data.yaml
  docker/otel-collector/otel-collector-config.yaml
  src/templates/TEMPLATE_PROTOCOL.md
Due: prettier --write, npx --yes yaml-lint

feat: add featured templates, Milaidy and OpenClaw template definitions
  src/schema/typeDefs.ts
  src/templates/TEMPLATE_PROTOCOL.md
  src/templates/definitions/bun-ws-gameserver.ts
  src/templates/definitions/index.ts
  src/templates/definitions/milaidy-gateway.ts
  src/templates/definitions/node-ws-gameserver.ts
  src/templates/definitions/openclaw-gateway.ts
  src/templates/registry.ts
  src/templates/schema.ts
Due: eslint --fix, prettier --write

fix: correct OpenClaw Docker image to fourplayers/openclaw
  src/templates/definitions/openclaw-gateway.ts
Due: eslint --fix, prettier --write

fix: auto-start MCP subprocess for close and getLogs operations
  src/services/akash/orchestrator.ts
Due: eslint --fix, prettier --write

fix: correct OpenClaw gateway start command for Akash
  src/templates/definitions/openclaw-gateway.ts
Due: eslint --fix, prettier --write

fix(openclaw): use Akash wrapper image to chown persistent state dir
  docker/openclaw-akash/Dockerfile
  docker/openclaw-akash/entrypoint.sh
  src/templates/definitions/openclaw-gateway.ts
Due: eslint --fix, prettier --write

Update akash.ts
  src/resolvers/akash.ts
Due: eslint --fix, prettier --write

update
  .github/workflows/update-manifest.yml
  deploy-data.yaml
Due: prettier --write, npx --yes yaml-lint

Update deploy-api.yaml
  deploy-api.yaml
Due: prettier --write, npx --yes yaml-lint

feat: Milaidy Akash wrapper with dashboard UI serving (v6)
  docker/milaidy-akash/Dockerfile
  docker/milaidy-akash/entrypoint.sh
  docker/milaidy-akash/serve-with-ui.mjs
  src/resolvers/akash.ts
  src/schema/typeDefs.ts
  src/templates/TEMPLATE_PROTOCOL.md
  src/templates/definitions/milaidy-gateway.ts
  src/templates/sdl.ts
Due: eslint --fix, prettier --write

docs: add wrapper image patterns to TEMPLATE_PROTOCOL.md
  src/templates/TEMPLATE_PROTOCOL.md
Due: prettier --write

add nanobot
  docker/nanobot-akash/Dockerfile
  docker/nanobot-akash/README.md
  docker/nanobot-akash/entrypoint.sh
  src/templates/TEMPLATE_PROTOCOL.md
  src/templates/definitions/index.ts
  src/templates/definitions/nanobot-gateway.ts
  src/templates/registry.ts
Due: eslint --fix, prettier --write

feat: generic deployment provider abstraction + Akash JS SDK orchestrator
  docker/akash-base/Dockerfile
  docker/akash-base/akash-entrypoint.sh
  package-lock.json
  package.json
  pnpm-lock.yaml
  prisma/migrations/20260216120000_add_docker_image_and_container_port/migration.sql
  prisma/schema.prisma
  src/index.ts
  src/schema/typeDefs.ts
  src/services/akash/orchestrator-sdk.ts
  src/services/akash/orchestrator.ts
  src/services/akash/sdk.ts
  src/services/providers/akashProvider.ts
  src/services/providers/index.ts
  src/services/providers/phalaProvider.ts
  src/services/providers/registry.ts
  src/services/providers/types.ts
  src/templates/definitions/milaidy-gateway.ts
  src/templates/schema.ts
  src/templates/sdl.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

feat: add CI/CD workflow for AWS K3s deployment
  .github/workflows/deploy-aws.yml
  .github/workflows/docker-publish.yml
Due: prettier --write, npx --yes yaml-lint
