Repository alternatefutures/service-cloud-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx --yes yaml-lint

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,json,md}": ["prettier --write"],
  "*.{yml,yaml}": ["npx --yes yaml-lint", "prettier --write"]
}

simplify VM deploy to a single freeform image input
  src/resolvers/index.ts
  src/schema/typeDefs.ts
Due: eslint --fix, prettier --write

persistent volume editor on deploy + config screens
  prisma/migrations/20260417120000_add_service_volumes/migration.sql
  prisma/schema.prisma
  scripts/test-volumes-sdl.ts
  src/resolvers/index.ts
  src/schema/typeDefs.ts
  src/services/akash/orchestrator.ts
Due: eslint --fix, prettier --write

feat: add promo code system with PRODUCTHUNT launch code #178
  prisma/migrations/20260417000000_add_promo_code_system/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/resolvers/index.ts
  src/resolvers/promo.ts
  src/schema/typeDefs.ts
  src/services/billing/promoService.test.ts
  src/services/billing/promoService.ts
Due: eslint --fix, prettier --write

audit log infrastructure — schema, writer, 5 hook points
  prisma/migrations/20260417185621_add_audit_events/migration.sql
  prisma/schema.prisma
  scripts/test-audit-smoke.ts
  src/lib/audit.ts
  src/resolvers/akash.ts
  src/services/billing/computeBillingScheduler.ts
  src/services/queue/staleDeploymentSweeper.ts
Due: eslint --fix, prettier --write

trace propagation + expanded hook coverage
  src/index.ts
  src/lib/audit.ts
  src/lib/requestContext.ts
  src/resolvers/phala.ts
  src/services/billing/billingApiClient.ts
  src/services/billing/computeBillingScheduler.ts
  src/services/billing/escrowService.ts
  src/services/policy/enforcer.ts
Due: eslint --fix, prettier --write

daily JSONL exporter + 00:30 UTC cron + backfill CLI
  scripts/export-audit-day.ts
  src/index.ts
  src/services/audit/auditExportScheduler.ts
  src/services/audit/auditExporter.ts
Due: eslint --fix, prettier --write

: /internal/admin/audit-events for live admin queries
  src/index.ts
  src/services/admin/auditEventsEndpoint.ts
  src/services/providers/types.ts
Due: eslint --fix, prettier --write

live log streaming via SSE
  src/index.ts
  src/lib/audit.ts
  src/services/akash/orchestrator.ts
  src/services/akash/spawnLogStream.ts
  src/services/auth/serviceAccess.ts
  src/services/logs/logStreamEndpoint.ts
  src/services/providers/akashProvider.ts
Due: eslint --fix, prettier --write

application-level HTTP health probes
  prisma/migrations/20260417205210_service_health_probe/migration.sql
  prisma/schema.prisma
  src/index.ts
  src/resolvers/index.ts
  src/schema/typeDefs.ts
  src/services/health/applicationHealthRunner.ts
Due: eslint --fix, prettier --write

health-aware auto-failover
  prisma/migrations/20260417211531_service_failover_policy/migration.sql
  prisma/schema.prisma
  src/resolvers/index.ts
  src/schema/typeDefs.ts
  src/services/akash/providerSelector.ts
  src/services/failover/failoverService.ts
  src/services/queue/akashSteps.ts
  src/services/queue/staleDeploymentSweeper.ts
Due: eslint --fix, prettier --write

pin protobufjs >=7.5.5, follow-redirects >=1.16.0, hono >=4.12.14
  package.json
  pnpm-lock.yaml
Due: prettier --write, npx --yes yaml-lint

close subscription/billing/log leaks; pin deploys to image digest
  .github/workflows/deploy-aws-staging.yml
  .github/workflows/deploy-aws.yml
  src/index.ts
  src/resolvers/subscriptionCheck.ts
  src/services/queue/staleDeploymentSweeper.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

leader election + cross-replica wallet mutex; supply-chain (cosign/syft/trivy)
  .github/workflows/deploy-aws.yml
  prisma/migrations/20260418041800_add_close_failed_status/migration.sql
  prisma/migrations/20260418050000_add_escrow_writeahead_states/migration.sql
  prisma/migrations/20260418060000_add_policy_settlement_ledger/migration.sql
  prisma/migrations/20260418070000_add_org_concurrency_counter/migration.sql
  prisma/migrations/20260418080000_add_leader_lease/migration.sql
  prisma/schema.prisma
  src/index.ts
  src/resolvers/akash.ts
  src/resolvers/launchGuards.ts
  src/resolvers/phala.ts
  src/services/akash/orchestrator.ts
  src/services/akash/runAkashTxAsync.contract.test.ts
  src/services/akash/walletMutex.ts
  src/services/billing/computeBillingScheduler.ts
  src/services/billing/deploymentSettlement.test.ts
  src/services/billing/deploymentSettlement.ts
  src/services/billing/escrowHealthMonitor.test.ts
  src/services/billing/escrowHealthMonitor.ts
  src/services/billing/escrowService.test.ts
  src/services/billing/escrowService.ts
  src/services/billing/settlementLedger.ts
  src/services/concurrency/concurrencyService.test.ts
  src/services/concurrency/concurrencyService.ts
  src/services/leader/leaderElection.ts
  src/services/queue/staleDeploymentSweeper.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

add Service.flavor discriminator (docker|server|function|template)
  .github/workflows/deploy-aws.yml
  prisma/migrations/20260418090000_add_service_flavor/migration.sql
  prisma/schema.prisma
  src/resolvers/index.ts
  src/schema/typeDefs.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

add Service.flavor discriminator (docker|server|function|template)
  prisma/migrations/20260418090000_add_service_flavor/migration.sql
  prisma/schema.prisma
  src/resolvers/index.ts
  src/schema/typeDefs.ts
Due: eslint --fix, prettier --write

Update deploy-aws.yml
  .github/workflows/deploy-aws.yml
Due: prettier --write, npx --yes yaml-lint

test push
  src/resolvers/index.ts
Due: eslint --fix, prettier --write

scoped trivy waivers for upstream akash CVEs
  .github/workflows/deploy-aws.yml
  .trivyignore.yaml
Due: prettier --write, npx --yes yaml-lint

re-trigger on workflow/waiver edits; promote :latest only post-verify
  .github/workflows/deploy-aws.yml
Due: prettier --write, npx --yes yaml-lint

same supply-chain hardening as production
  .github/workflows/deploy-aws-staging.yml
Due: prettier --write, npx --yes yaml-lint

audit: GraphQL Mutation plugin + Stripe webhook + counters
  src/index.ts
  src/lib/audit.ts
  src/lib/auditPlugin.ts
  src/services/billing/webhookHandler.ts
Due: eslint --fix, prettier --write

audit updates
  src/services/admin/auditEventsEndpoint.ts
Due: eslint --fix, prettier --write
