Repository alternatefutures/service-cloud-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx --yes yaml-lint

fix: update Phala GPU test assertions to match current error message
  src/services/phala/instanceTypes.test.ts
Due: eslint --fix, prettier --write

fix build
  package.json
  pnpm-lock.yaml
  src/services/policy/__tests__/enforcer.test.ts
  src/services/policy/__tests__/resolver.test.ts
  src/services/policy/__tests__/validator.test.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

Develop (#139)
  .github/workflows/deploy-aws-staging.yml
  lib/preferred-providers.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/services/billing/deploymentSettlement.test.ts
  src/services/billing/deploymentSettlement.ts
  src/services/phala/instanceTypes.test.ts
  src/services/policy/__tests__/enforcer.test.ts
  src/services/policy/__tests__/resolver.test.ts
  src/services/policy/__tests__/validator.test.ts
  src/services/policy/runtimeScheduler.test.ts
  src/services/policy/runtimeScheduler.ts
  src/services/testing/mockDeploymentHandler.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

Update docker-entrypoint.sh
  docker-entrypoint.sh
Due: none

enforce preferred providers for GPU policy bids
  src/services/queue/akashSteps.ts
Due: eslint --fix, prettier --write

DB-backed compute provider registry replacing static JSON
  lib/preferred-providers.json
  prisma/migrations/20260402101041_add_compute_provider_registry/migration.sql
  prisma/schema.prisma
  scripts/seed-provider-registry.ts
  scripts/test-deploy.ts
  src/index.ts
  src/services/akash/index.ts
  src/services/akash/providerSelector.ts
  src/services/providers/providerRegistryEndpoint.ts
  src/services/providers/providerRegistryScheduler.ts
  src/services/queue/akashSteps.ts
Due: eslint --fix, prettier --write

Merge remote-tracking branch 'origin/main' into develop
  .env.example
Due: none

Develop (#140)
  docker-entrypoint.sh
  lib/preferred-providers.json
  prisma/migrations/20260402101041_add_compute_provider_registry/migration.sql
  prisma/schema.prisma
  scripts/seed-provider-registry.ts
  scripts/test-deploy.ts
  src/index.ts
  src/services/akash/index.ts
  src/services/akash/providerSelector.ts
  src/services/providers/providerRegistryEndpoint.ts
  src/services/providers/providerRegistryScheduler.ts
  src/services/queue/akashSteps.ts
Due: eslint --fix, prettier --write

tighten deploy billing gates with hourly threshold enforcement
  src/config/billing.ts
  src/resolvers/akash.ts
  src/resolvers/balanceCheck.ts
  src/resolvers/templates.ts
  src/services/billing/computeBillingScheduler.ts
Due: eslint --fix, prettier --write

Update akash.ts
  src/resolvers/akash.ts
Due: eslint --fix, prettier --write

Develop (#142)
  src/config/billing.ts
  src/resolvers/akash.ts
  src/resolvers/balanceCheck.ts
  src/resolvers/templates.ts
  src/services/billing/computeBillingScheduler.ts
Due: eslint --fix, prettier --write

ci: auto-sync develop to main after squash merge
  .github/workflows/sync-develop.yml
Due: prettier --write, npx --yes yaml-lint

ci: auto-sync develop to main after squash merge (#143)
  .github/workflows/sync-develop.yml
Due: prettier --write, npx --yes yaml-lint

ci: auto-sync develop to main after squash merge
  src/resolvers/akash.ts
  src/resolvers/index.ts
  src/services/queue/akashSteps.ts
Due: eslint --fix, prettier --write

harden deployment lifecycle cleanup and retry cancellation
  src/resolvers/akash.ts
  src/resolvers/index.ts
  src/resolvers/phala.ts
  src/resolvers/templates.ts
  src/services/queue/akashSteps.ts
  src/services/queue/phalaSteps.ts
  src/services/queue/staleDeploymentSweeper.ts
  src/services/queue/types.ts
Due: eslint --fix, prettier --write

fix build
  src/resolvers/phala.test.ts
Due: eslint --fix, prettier --write

Develop (#145)
  src/resolvers/akash.ts
  src/resolvers/index.ts
  src/resolvers/phala.test.ts
  src/resolvers/phala.ts
  src/resolvers/templates.ts
  src/services/queue/akashSteps.ts
  src/services/queue/phalaSteps.ts
  src/services/queue/staleDeploymentSweeper.ts
  src/services/queue/types.ts
Due: eslint --fix, prettier --write

Delete sync-develop.yml
  .github/workflows/sync-develop.yml
Due: prettier --write, npx --yes yaml-lint

resolve org context for workspace monthly spend from auth ledger
  src/index.ts
  src/resolvers/index.ts
  src/services/billing/billingApiClient.ts
Due: eslint --fix, prettier --write

close cloud-api authorization boundaries and enforce subscription guard on /v1
  src/auth/middleware.ts
  src/services/billing/resumeHandler.ts
  src/services/billing/suspendOrgHandler.ts
  src/services/providers/providerRegistryEndpoint.ts
Due: eslint --fix, prettier --write

prevent orphaned Akash resources on suspend and close domain-site hijack path
  src/resolvers/domain.ts
  src/services/billing/suspendOrgHandler.ts
Due: eslint --fix, prettier --write

prevent money loss from wrong suspend ordering, forced DB close, and stale escrow resume
  src/resolvers/akash.ts
  src/services/billing/computeBillingScheduler.ts
  src/services/billing/resumeHandler.ts
Due: eslint --fix, prettier --write

add auth + ownership checks to all unprotected GraphQL resolvers
  .github/workflows/deploy-aws.yml
  src/resolvers/akash.ts
  src/resolvers/index.ts
  src/resolvers/phala.ts
  src/resolvers/templates.ts
  src/services/akash/orchestrator.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

harden CORS, webhooks, shutdown, and QStash verification
  src/auth/middleware.ts
  src/index.ts
  src/services/queue/webhookHandler.ts
Due: eslint --fix, prettier --write

harden proxy SSRF protection, sweeper race condition, billing idempotency, and Phala temp file permissions
  src/services/billing/computeBillingScheduler.ts
  src/services/proxy/subdomainProxy.ts
  src/services/queue/phalaSteps.ts
  src/services/queue/staleDeploymentSweeper.ts
Due: eslint --fix, prettier --write

fix resolvers
  src/resolvers/mutation.test.ts
  src/resolvers/phala.test.ts
  src/resolvers/query.test.ts
  src/resolvers/routeConfiguration.test.ts
  src/services/proxy/subdomainProxy.test.ts
Due: eslint --fix, prettier --write

Harden SSRF protection, webhook validation, and shutdown safety
  src/index.ts
  src/services/proxy/subdomainProxy.test.ts
  src/services/proxy/subdomainProxy.ts
  src/services/queue/staleDeploymentSweeper.ts
  src/services/queue/webhookHandler.ts
Due: eslint --fix, prettier --write

Fix: add auth to storage queries, refine IPv6 SSRF check
  src/resolvers/index.ts
  src/resolvers/storageAnalytics.test.ts
  src/services/proxy/subdomainProxy.ts
Due: eslint --fix, prettier --write

Fix invoice scoping, webhook error handling, and Stripe status mapping
  src/services/billing/invoiceService.ts
  src/services/billing/stripeService.ts
  src/services/billing/webhookHandler.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,json,md})) or (any of: *.{yml,yaml})
  npx --yes yaml-lint: any of: *.{yml,yaml}
