Repository alternatefutures/service-cloud-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx --yes yaml-lint

feat: service connectivity, logs pipeline fix, function SDL fix
  prisma/migrations/20260223120000_add_service_connectivity/migration.sql
  prisma/schema.prisma
  src/index.ts
  src/resolvers/index.ts
  src/resolvers/logs.ts
  src/resolvers/serviceConnectivity.ts
  src/resolvers/templates.ts
  src/schema/typeDefs.ts
  src/services/akash/orchestrator.ts
  src/services/akash/providerSelector.ts
  src/services/akash/sdk.ts
  src/services/dns/index.ts
  src/services/phala/orchestrator.ts
  src/services/providers/akashProvider.ts
  src/templates/definitions/postgres.ts
  src/templates/definitions/redis.ts
  src/templates/schema.ts
  src/utils/connectionStrings.ts
  src/utils/envInterpolation.ts
  src/utils/internalHostname.ts
Due: eslint --fix, prettier --write

fix: update stale test mocks and assertions
  src/config/pricing.test.ts
  src/resolvers/mutation.test.ts
  src/resolvers/routeConfiguration.test.ts
  src/services/build/builder.test.ts
  src/services/phala/orchestrator.test.ts
Due: eslint --fix, prettier --write

Update deploy-akash.yml
  .github/workflows/deploy-akash.yml
Due: prettier --write, npx --yes yaml-lint

fix mempool rejection on redeploys
  src/services/akash/orchestrator.ts
Due: eslint --fix, prettier --write

feat: GPU template support + ollama-gpu and jupyter-ml-workspace templates
  src/resolvers/templates.ts
  src/schema/typeDefs.ts
  src/templates/definitions/index.ts
  src/templates/definitions/jupyter-ml-workspace.ts
  src/templates/definitions/ollama-gpu.ts
  src/templates/registry.ts
  src/templates/schema.ts
  src/templates/sdl.ts
Due: eslint --fix, prettier --write

feat: add test coverage thresholds, CI workflow, and badge #133
  .github/workflows/test.yml
  README.md
  vitest.config.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

feat: add TemplateCategory enum and Template model to Prisma schema #19
  prisma/schema.prisma
Due: none

feat: add 9 new template definitions (WEB_SERVER, GAME_SERVER, AI_ML, DEVTOOLS) #19
  src/templates/definitions/astro.ts
  src/templates/definitions/comfyui.ts
  src/templates/definitions/gitea.ts
  src/templates/definitions/hugo.ts
  src/templates/definitions/index.ts
  src/templates/definitions/minecraft.ts
  src/templates/definitions/n8n.ts
  src/templates/definitions/nextjs.ts
  src/templates/definitions/nuxt.ts
  src/templates/definitions/react-vite.ts
  src/templates/registry.ts
Due: eslint --fix, prettier --write

feat: add 13 template records to seed data #19
  prisma/seed.ts
Due: eslint --fix, prettier --write

feat: add migration for Template model and TemplateCategory enum #19
  prisma/migrations/20260227120000_add_templates/migration.sql
Due: none

feat: add 9 new template definitions across all categories #19
  src/templates/definitions/astro.ts
  src/templates/definitions/comfyui.ts
  src/templates/definitions/gitea.ts
  src/templates/definitions/hugo.ts
  src/templates/definitions/index.ts
  src/templates/definitions/minecraft.ts
  src/templates/definitions/n8n.ts
  src/templates/definitions/nextjs.ts
  src/templates/definitions/nuxt.ts
  src/templates/definitions/react-vite.ts
  src/templates/registry.ts
Due: eslint --fix, prettier --write

fix: switch CI workflow from npm to pnpm
  .github/workflows/ci.yml
Due: prettier --write, npx --yes yaml-lint

fix: move overrides to pnpm.overrides and patch all critical/high vulns
  package.json
  pnpm-lock.yaml
Due: prettier --write, npx --yes yaml-lint

feat: add Template model, GraphQL resolver, and seed data (#135)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/templates/definitions/astro.ts
  src/templates/definitions/comfyui.ts
  src/templates/definitions/gitea.ts
  src/templates/definitions/hugo.ts
  src/templates/definitions/index.ts
  src/templates/definitions/minecraft.ts
  src/templates/definitions/n8n.ts
  src/templates/definitions/nextjs.ts
  src/templates/definitions/nuxt.ts
  src/templates/definitions/react-vite.ts
  src/templates/registry.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

fix: switch Dockerfile and deploy workflows from npm to pnpm
  .github/workflows/deploy-akash.yml
  .github/workflows/deploy-aws.yml
  Dockerfile
Due: prettier --write, npx --yes yaml-lint

fix: generate Prisma client in runner stage instead of copying
  Dockerfile
Due: none

fix: use npx for prisma generate in runner (prisma is a devDependency)
  Dockerfile
Due: none

fix: prune dev deps in builder, copy prod node_modules to runner
  Dockerfile
Due: none

Update orchestrator.ts
  src/services/akash/orchestrator.ts
Due: eslint --fix, prettier --write

fix: add package.json and prisma schema to runner stage
  Dockerfile
Due: none

fix: install prisma globally in image (npx OOMs the pod)
  .github/workflows/deploy-aws.yml
  Dockerfile
Due: prettier --write, npx --yes yaml-lint

fix: pin global prisma to v6 (v7 has breaking schema changes)
  Dockerfile
Due: none

fix: chown global prisma dir for nodejs user
  Dockerfile
Due: none

fix: make prisma migrate deploy non-blocking in CI
  .github/workflows/deploy-aws.yml
Due: prettier --write, npx --yes yaml-lint

feat: make prisma migrate deploy a blocking CI step
  .github/workflows/deploy-aws.yml
Due: prettier --write, npx --yes yaml-lint

Add description to the projects
  prisma/migrations/20260228185037_add_project_description/migration.sql
  prisma/schema.prisma
Due: none

update envs
  .env.example
  .gitignore
  src/config/infisical.ts
Due: eslint --fix, prettier --write

update envs
  .env.example
  src/config/infisical.ts
Due: eslint --fix, prettier --write

add QStash background job processing, deployment retry, and cost display
  package.json
  pnpm-lock.yaml
  prisma/migrations/20260303120000_add_qstash_retry_and_cost_fields/migration.sql
  prisma/schema.prisma
  src/index.ts
  src/resolvers/akash.ts
  src/resolvers/phala.ts
  src/schema/typeDefs.ts
  src/services/akash/orchestrator.ts
  src/services/events/deploymentEvents.ts
  src/services/phala/orchestrator.ts
  src/services/queue/akashSteps.ts
  src/services/queue/asyncExec.ts
  src/services/queue/index.ts
  src/services/queue/phalaSteps.ts
  src/services/queue/qstashClient.ts
  src/services/queue/types.ts
  src/services/queue/webhookHandler.ts
  src/templates/definitions/comfyui.ts
  src/templates/definitions/gitea.ts
  src/templates/definitions/jupyter-ml-workspace.ts
  src/templates/definitions/n8n.ts
  src/templates/definitions/ollama-gpu.ts
  src/templates/definitions/postgres.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

Include in-progress statuses in activeAkashDeployment resolver, update stale tests
  src/config/pricing.ts
  src/resolvers/akash.ts
  src/services/akash/orchestrator.ts
  src/services/phala/orchestrator.test.ts
  src/services/queue/akashSteps.ts
  src/templates/compose.test.ts
Due: eslint --fix, prettier --write

Fix pricing, wrong AKT_USD_PRICE
  .env.example
  src/config/pricing.ts
  src/resolvers/akash.ts
  src/services/billing/escrowService.ts
Due: eslint --fix, prettier --write

add gpu model
  prisma/migrations/20260304120000_add_gpu_model_to_akash_deployment/migration.sql
  prisma/schema.prisma
  src/schema/typeDefs.ts
  src/services/queue/akashSteps.ts
Due: eslint --fix, prettier --write

Fix deployment lifecycle reliability, deployments page, and simplify nav
  src/index.ts
  src/resolvers/index.ts
  src/services/queue/akashSteps.ts
  src/services/queue/phalaSteps.ts
  src/services/queue/qstashClient.ts
  src/services/queue/staleDeploymentSweeper.ts
  src/services/queue/webhookHandler.ts
Due: eslint --fix, prettier --write

Add gpuModel to PhalaDeployment for confidential GPU support
  prisma/migrations/20260304180000_add_gpu_model_to_phala_deployment/migration.sql
  prisma/schema.prisma
  src/resolvers/templates.ts
  src/schema/typeDefs.ts
  src/services/phala/orchestrator.ts
Due: eslint --fix, prettier --write

Update featured templates and catalog ordering
  src/templates/definitions/bun-ws-gameserver.ts
  src/templates/definitions/gitea.ts
  src/templates/definitions/minecraft.ts
  src/templates/definitions/n8n.ts
  src/templates/definitions/nanobot-gateway.ts
  src/templates/definitions/nextjs.ts
  src/templates/definitions/node-ws-gameserver.ts
  src/templates/registry.ts
Due: eslint --fix, prettier --write

Add domain management with OpenProvider integration
  prisma/migrations/20260305120000_add_org_to_domain/migration.sql
  prisma/schema.prisma
  src/auth/middleware.ts
  src/resolvers/dnsAdmin.ts
  src/resolvers/domain.ts
  src/resolvers/index.ts
  src/schema/typeDefs.ts
  src/services/dns/arnsIntegration.ts
  src/services/dns/ipnsIntegration.ts
  src/services/dns/openProviderClient.ts
Due: eslint --fix, prettier --write

Switch Akash to JWT auth and rpc.akt.dev, remove mTLS certs
  .env.example
  Dockerfile
  docker-entrypoint.sh
  src/services/akash/orchestrator.ts
  src/services/akash/sdk.ts
  src/services/queue/akashSteps.ts
Due: eslint --fix, prettier --write

uopdate RPC endpoint
  .env.example
  src/services/akash/orchestrator.ts
  src/services/akash/sdk.ts
  src/services/queue/akashSteps.ts
Due: eslint --fix, prettier --write

Fix domain test mock missing delete/create methods
  src/resolvers/domain.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,json,md})) or (any of: *.{yml,yaml})
  npx --yes yaml-lint: any of: *.{yml,yaml}
