Repository alternatefutures/service-cloud-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx --yes yaml-lint

fix: Replace deprecated Akash CLI command in Infisical DNS sync
  .github/workflows/deploy-infisical.yml
  scripts/check-dns-records.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

fix: Update AkashDNSSync to use modern Akash CLI commands
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

feat: Add Infisical DNS configuration script
  scripts/configure-infisical-dns.ts
Due: eslint --fix, prettier --write

fix: Add client certificate authentication for Akash provider API
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

fix: Copy generated Akash certificates to expected location
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

fix: Support Akash PEM certificate files for provider auth
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

fix: Parse PEM file to extract separate cert and key sections
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

fix: Use string format for PEM cert/key and add passphrase option
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

feat: Use Cloudmos API as primary source for deployment info
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 15: Disabling certificate validation
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 15: Disabling certificate validation (#39)
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 13: Workflow does not contain permissions
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

Potential fix for code scanning alert no. 13: Workflow does not contain permissions (#40)
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

Potential fix for code scanning alert no. 12: Workflow does not contain permissions
  .github/workflows/get-service-uris.yml
Due: prettier --write, npx --yes yaml-lint

Potential fix for code scanning alert no. 12: Workflow does not contain permissions (#41)
  .github/workflows/get-service-uris.yml
Due: prettier --write, npx --yes yaml-lint

Potential fix for code scanning alert no. 9: Workflow does not contain permissions
  .github/workflows/cleanup-deployments-v3.yml
Due: prettier --write, npx --yes yaml-lint

Potential fix for code scanning alert no. 9: Workflow does not contain permissions (#42)
  .github/workflows/cleanup-deployments-v3.yml
Due: prettier --write, npx --yes yaml-lint

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/deploy-akash.yml
Due: prettier --write, npx --yes yaml-lint

Potential fix for code scanning alert no. 8: Workflow does not contain permissions (#43)
  .github/workflows/deploy-akash.yml
Due: prettier --write, npx --yes yaml-lint

Potential fix for code scanning alert no. 11: Workflow does not contain permissions
  .github/workflows/setup-certificates.yml
Due: prettier --write, npx --yes yaml-lint

Potential fix for code scanning alert no. 11: Workflow does not contain permissions (#44)
  .github/workflows/setup-certificates.yml
Due: prettier --write, npx --yes yaml-lint

fix: Handle encrypted Akash certificates in DNS sync
  .github/workflows/deploy-infisical.yml
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

fix: Remove insecure TLS validation bypass in Akash DNS sync
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

feat: Add retry logic with exponential backoff for Cloudmos API
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

feat: Use Akash blockchain for deployment verification + manual DNS guidance
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

feat: Implement secure DNS sync with provider-services CLI
  .github/workflows/deploy-infisical.yml
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

fix: Use official install script for provider-services CLI
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

fix: Remove unsupported flags from provider-services command
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

feat: Event-based deployment readiness monitoring
  .github/workflows/deploy-infisical.yml
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write, npx --yes yaml-lint

fix: Correct setTimeout usage with timers/promises import
  src/services/dns/akashDnsSync.ts
Due: eslint --fix, prettier --write

fix: Add keyring-backend flag to provider-services lease-events
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

fix: Add --node flag to provider-services lease-events
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

refactor: Simplify deployment readiness check with direct polling
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

feat: Add provider blocklist to skip unreliable providers
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

fix: Extract certificates from PEM file generated by Akash
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

fix: Use PEM file directly instead of extracting cert/key
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

feat: Add automated deployment log capture for debugging
  .github/workflows/deploy-infisical.yml
Due: prettier --write, npx --yes yaml-lint

feat: Add standalone Postgres and API deployment infrastructure
  .github/workflows/deploy-standalone.yml
  AKASH_DEPLOYMENTS.md
  infra/api-standalone.yaml
  infra/postgres-standalone.yaml
Due: prettier --write, npx --yes yaml-lint

feat: Add DNS Management API endpoints (ALT-205)
  src/resolvers/dnsAdmin.ts
  src/resolvers/index.ts
  src/schema/typeDefs.ts
Due: eslint --fix, prettier --write

fix: Extract DSEQ from tx result instead of querying deployments
  .github/workflows/deploy-standalone.yml
Due: prettier --write, npx --yes yaml-lint

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,json,md})) or (any of: *.{yml,yaml})
  npx --yes yaml-lint: any of: *.{yml,yaml}
